.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.list_block {
	width: 50%;
	border: 1px black solid;
	padding: 15px;
	margin: 15px;
}

.list_item {
	list-style: none;
	text-align: left;
}

.list_elem {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	margin-right: 50px;
	border-bottom: 1px red solid;
	cursor: pointer;
	transition: background 0.3s;
}

.list_elem:hover {
	background-color: #f0f0f0;
}

.selected {
	background-color: #cce5ff;
	font-weight: bold;
	border-radius: 5px;
}

.block_main {
	display: flex;
}

.ListConverter_block {
	width: 40%;
	border: 1px black solid;
	padding: 15px;
	margin: 15px;
}

.converter_block {
	background: #1ee5e8;
	background: linear-gradient(337deg, rgba(30, 229, 232, 1) 0%, rgba(253, 187, 45, 1) 100%);
	padding: 30px;
	margin: 15px;
}

.converter_list {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin-bottom: 30px;
}

.block_1 {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.list_elem1 {
	cursor: pointer;
	list-style: none;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px;
	border: 1px black solid;
	border-radius: 5px;
}

.converter_input {
	height: 30px;
}

.block_2 {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.active {
	background-color: #007bff;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

.total {
	font-size: 20px;
	font-weight: bold;
	color: brown;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Для Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* .sell_item {
	margin-left: 30px;
	margin-right: 30px;
} */